html{
	font-size: 1vw;
}

.game_wrapper{
	position: absolute;
	width: 98.5vw;
	height: 70vw;
}

h1{ 
	font-size: 2vw;
}

.clickable_button{
	width: 10vw;
    height: 5vw;
    font-size: 2vw;
}

.adopt{
	position: absolute;
    top: 47px;
    left: 110px;
	width: 50%;
	height: 50%;
}

.homepage{
	position: absolute;
    top: 10px;
    left: 5px;
	margin: 0;
}

.backbuttonDOG{
	position: absolute;
    top: 155px;
    left: 0px;
	margin: 0;	
}

.backbuttonCAT{
	position: absolute;
    top: 155px;
    left: 0px;
	margin: 0;	
}

.dialogue1{
	position: absolute;
    bottom: 150px;
    left: 45px;
	margin: 0;	
}

.skip-text{
	position: absolute;
    top: 20px;
    right: 45px;
	margin: 0;	
}

.skip-button{
	position: absolute;
    top: 80px;
    right: 70px;
	margin: 0;	
}

.click-me{
	position: absolute;
    bottom: 250px;
    left: 425px;
	margin: 0;	
}

.click-me01{
	position: absolute;
    top: 100px;
    left: 330px;
	margin: 0;		
}

.click-me02{
	position: absolute;
    top: 220px;
    left: 200px;
	margin: 0;		
}

.dog-button{
	position: absolute;
    top: 160px;
    left: 60px;
	margin: 0;		
}

.back-button {
	position: absolute;
    top: 130px;
    left: 0px;
	margin: 0;	
}

.click-me03{
	position: absolute;
    top: 130px;
    left: 170px;
	margin: 0;		
}

.click-me04{
	position: absolute;
    top: 50px;
    left: 150px;
	margin: 0;		
}

.homepage4{
	position: absolute;
    top: 0px;
    left: 0px;
	margin: 0;		
}

.homepage4{
	position: absolute;
    top: 0px;
    left: 0px;
	margin: 0;	
}

.catCL{
	position: absolute;
    top: 340px;
    left: 75px;
	margin: 0;	
}

.dogCL{
	position: absolute;
    top: 175px;
    left: 75px;
	margin: 0;	
}

.otherCL{
	position: absolute;
    bottom: 150px;
    left: 75px;
	margin: 0;	
}

.profile-pumpkin{
	position: absolute;
    top: 250px;
    left: 50px;
	margin: 0;	
}

.profile-eugene{
	position: absolute;
    top: 250px;
    left: 300px;
	margin: 0;
}

.profile-owl{
	position: absolute;
    bottom: 170px;
    left: 50px;
	margin: 0;	
}

.profile-tan{
	position: absolute;
    bottom: 170px;
    left: 300px;
	margin: 0;
}

.profile-lucy{
	position: absolute;
    top: 250px;
    left: 50px;
	margin: 0;	
}

.profile-penny{
	position: absolute;
    top: 250px;
    left: 300px;
	margin: 0;
}

.profile-banjo{
	position: absolute;
    bottom: 170px;
    left: 50px;
	margin: 0;	
}

.profile-slag{
	position: absolute;
    bottom: 170px;
    left: 300px;
	margin: 0;
}

.profile-mazos{
	position: absolute;
    bottom: 170px;
    left: 550px;
	margin: 0;
}

.YES{
	position: absolute;
    bottom: 210px;
    right: 375px;
	margin: 0;
}

.NO{
	position: absolute;
    bottom: 150px;
    right: 375px;
	margin: 0;
}

.again{
	position: absolute;
    bottom: 230px;
    right: 100px;
	margin: 0;
}








